/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  --ifm-hero-background-color: transparent;
  --ifm-hero-text-color: #FFF;

  padding: 80px 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.hero__inner {
  max-width: 500px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 80px 0;
    margin-bottom: 300px;
  }
}

.buttons {
  display: flex;
}
