.footer__inner {
  display: flex;
  flex-wrap: wrap;
}

.footer__inner :global .footer__link-item {
  white-space: nowrap;
}

.footer__logo-container {
  flex-basis: 440px;
  margin-bottom: 60px;
  margin-right: auto;
}

.footer__links-container {
  flex-grow: 1;
}

@media screen and (max-width: 996px) {
  .footer__links-container {
    flex-basis: 300px;
  }
}
